<h1 class='well, madeHeader'>Create a New Article</h1>
  <h5 class='hideIt'>44</h5>
  <h5 class='hideIt'>44</h5>
  <div class="row">
    <aside class ="col-md-4 col-md-offset-4">
      <div class ='well'>
            <%= render 'form' %>
      </div>
      
      <%= link_to 'Back', articles_path, class: 'btn btn-info' %>
      
      </aside>
   </div>
      